* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: #ecf0f1;
  border-bottom: 1px solid #bdc3c7;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav h1 {
  color: #7f8c8d;
  font-size: 1.2rem;
}

.main-menu ul {
  display: flex;
}

.main-menu a {
  color: #7f8c8d;
  margin-left: 20px;
}
