* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: #ecf0f1;
  border-bottom: 1px solid #bdc3c7;
}

#header {
  padding: 100px 0 50px 0;
  display: flex;
  justify-content: center;
}

.header-block {
  border: 1px solid #7f8c8d;
  padding: 30px 50px;
  border-radius: 1px;
  text-align: center;
  position: relative;
}

.header-block h1 {
  font-size: 1.9rem;
  color: #7f8c8d;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.header-block h2 {
  font-size: 1.7rem;
  color: #95a5a6;
  letter-spacing: 1px;
}

#year-block {
  position: absolute;
  border: 1px solid #95a5a6;
  background: #95a5a6;
  font-size: 1rem;
  padding: 0.2rem;
  line-height: 1.2rem;
  top: -0.9rem;
  left: 20px;
  color: #fff;
  letter-spacing: 1px;
}

#resume-block {
  position: absolute;
  border: 1px solid #bdc3c7;
  background: #bdc3c7;
  font-size: 1rem;
  padding: 0.2rem;
  line-height: 1.2rem;
  bottom: -0.8rem;
  right: 20px;
  color: #fff;
  letter-spacing: 1px;
}

#objective {
  text-align: center;
}

#objective p {
  display: inline-block;
  width: 70%;
  font-size: 1.1rem;
  color: #7f8c8d;
  letter-spacing: 1px;
  margin-bottom: 100px;
  line-height: 1.8rem;
}
